<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" min="0" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Card_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-card_id" data-rule="required" min="0" data-source="card/index" class="form-control selectpage" name="row[card_id]" type="text" value="{$row.card_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Change_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-change_type" data-rule="required" class="form-control selectpicker" name="row[change_type]">
                {foreach name="changeTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.change_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Change_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-change_money" data-rule="required" class="form-control" step="0.01" name="row[change_money]" type="number" value="{$row.change_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Before_balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-before_balance" data-rule="required" class="form-control" step="0.01" name="row[before_balance]" type="number" value="{$row.before_balance|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('After_balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-after_balance" data-rule="required" class="form-control" step="0.01" name="row[after_balance]" type="number" value="{$row.after_balance|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_type" data-rule="required" class="form-control" name="row[source_type]" type="text" value="{$row.source_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_id" data-rule="required" min="0" data-source="source/index" class="form-control selectpage" name="row[source_id]" type="text" value="{$row.source_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" data-rule="required" class="form-control" name="row[remark]" type="text" value="{$row.remark|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
