<style>
fieldset {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
}
fieldset legend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border: none;
}
.form-group .col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
}
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- 基本信息 -->
    <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Order_type')}:</label>
            <div class="col-xs-12 col-sm-4">
                <select id="c-order_type" data-rule="required" class="form-control selectpicker" name="row[order_type]">
                    {foreach name="orderTypeList" item="vo"}
                        <option value="{$key}" {in name="key" value="$row.order_type"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Order_id')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-order_id" data-rule="required" min="0" data-source="card/order/index" class="form-control selectpage" name="row[order_id]" type="text" value="{$row.order_id|htmlentities}" placeholder="请选择订单">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-user_id" data-rule="required" min="0" data-source="user.user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}" placeholder="请选择用户">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Address_id')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-address_id" data-rule="required" min="0" data-source="user.address/index" class="form-control selectpage" name="row[address_id]" type="text" value="{$row.address_id|htmlentities}" placeholder="请选择地址">
            </div>
        </div>
    </fieldset>

    <!-- 物流信息 -->
    <fieldset>
        <legend>物流信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Logistics_status')}:</label>
            <div class="col-xs-12 col-sm-4">
                <div class="radio">
                {foreach name="logisticsStatusList" item="vo"}
                <label for="row[logistics_status]-{$key}"><input id="row[logistics_status]-{$key}" name="row[logistics_status]" type="radio" value="{$key}" {in name="key" value="$row.logistics_status"}checked{/in} /> {$vo}</label> 
                {/foreach}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Logistics_company')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-logistics_company" data-rule="required" class="form-control" name="row[logistics_company]" type="text" value="{$row.logistics_company|htmlentities}" placeholder="请输入物流公司">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Logistics_no')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-logistics_no" data-rule="required" class="form-control" name="row[logistics_no]" type="text" value="{$row.logistics_no|htmlentities}" placeholder="请输入物流单号">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-send_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[send_time]" type="text" value="{:$row.send_time?datetime($row.send_time):''}">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Receive_time')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-receive_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[receive_time]" type="text" value="{:$row.receive_time?datetime($row.receive_time):''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Logistics_info')}:</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-logistics_info" class="form-control" rows="3" name="row[logistics_info]" placeholder="请输入物流信息">{$row.logistics_info|htmlentities}</textarea>
            </div>
        </div>
    </fieldset>

    <!-- 其他信息 -->
    <fieldset>
        <legend>其他信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-remark" class="form-control" rows="3" name="row[remark]" placeholder="请输入备注信息">{$row.remark|htmlentities}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}" placeholder="排序权重">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
            <div class="col-xs-12 col-sm-4">
                <div class="radio">
                {foreach name="statusList" item="vo"}
                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
                {/foreach}
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
