<style>
fieldset {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
}
fieldset legend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border: none;
}
.form-group .col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
}
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- 基本信息 -->
    <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-user_id" data-rule="required" min="0" data-source="user.user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="" placeholder="请选择用户">
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Fuka_ids')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-fuka_ids" data-rule="required" data-source="fuka/user_card/index" data-field="type_name" data-multiple="true" class="form-control selectpage" name="row[fuka_ids]" type="text" value="" placeholder="请选择福卡（可多选）">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Is_used')}:</label>
            <div class="col-xs-12 col-sm-4">
                <select id="c-is_used" data-rule="required" class="form-control selectpicker" name="row[is_used]">
                    {foreach name="isUsedList" item="vo"}
                        <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>
            </div>
            <label class="control-label col-xs-12 col-sm-2">{:__('Exchange_id')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-exchange_id" min="0" data-source="fuka/exchange_record/index" data-field="prize_name" class="form-control selectpage" name="row[exchange_id]" type="text" value="" placeholder="请选择兑换记录（可选）">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Used_time')}:</label>
            <div class="col-xs-12 col-sm-4">
                <input id="c-used_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[used_time]" type="text" value="{:date('Y-m-d H:i:s')}">
            </div>
        </div>
    </fieldset>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
